.form-wrapper{
    background-color: #f5f5f5;
    padding: 50px 20px;
}

.form-wrapper button {
    width: 100px;
    border-radius: 0;
    background-color: dodgerblue;
    border: none;
    height: 45px;
}

.form-wrapper input {
    border-radius: 0;
    height: 50px;
}

.form-wrapper input:focus {
    box-shadow: none;
}

.react-select__control {
    border-radius: 0 !important;
}

.react-select__input-container {
    height: 48px !important;
    margin-top: -5px !important;
}