.crud-table {
    background-color: transparent;
    border: 1px solid rgba(52, 145, 238, 0.15);
    border-collapse: collapse;
    width: 100%;
}

.crud-table__header-cell {
    cursor: pointer;
    background: rgba(153, 158, 162, 0.05);
    padding: 0.5rem 1rem;
    color: rgba(0, 0, 0, 0.85);
    border-left: 1px solid rgba(34, 36, 38, 0.1);
    border-bottom: 1px solid rgba(34, 36, 38, 0.1);
}

.crud-table__body {
    background-color: #fff;
}

.crud-table__cell {
    background-color: white;
    padding: 0.5rem 1rem;
    border-left: 1px solid rgba(34, 36, 38, 0.1);
    border-bottom: 1px solid rgba(4, 21, 37, 0.1);
}

.crud-table__cell-label {
    display: none;
}

.crud-button {
    background-color: #000;
    min-height: 1rem;
    color: #fff;
    border-radius: 0;
    padding: 0.6rem 1rem;
    border: none;
    font-size: 1rem;
    cursor: pointer !important;
}

.crud-button--negative {
    background-color: tomato;
}

.page-heading {
    display: flex;
    justify-content: space-between;
}

.custom-btn {
    background-color: dodgerblue !important;
    border: none !important;
    border-radius: 0 !important;
    font-weight: bold;
    width: 200px;
    height: 40px;
    cursor: pointer;
}

.crud-table__cell p {
    color: #000000;
}

.clickable {
    text-decoration: underline !important;
}